/* man.css */

/* Estilos en HTML ------------------------  */

html{
 	min-width: 1000px;
	margin: 20px;
	border: 1px solid;
}

body{
	margin-left: 30px;
	margin-right: 10px;
	padding: 0px;
	
	border-style: none;
	font-family: Arial;
	color: #000;
	line-height: 1.166;
}

a:link, a:visited {
	color: #008;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	padding-bottom: 8px;
}

h1 {font-family: Arial;
	color: #999;
}

nav{
	float: left;
	width: 15%; min-width: 220px;
	padding-top: 0px;
	margin: 0px;
	margin-right: 10px;
	border: 0px;
}

#content{
	float:left;
	width: 70%; min-width: 680px;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	border-left: 2px solid #ccc;
}

article{
	padding-bottom: 30px;
}

article ul {
	list-style: square;
	margin: 10px; margin-left: 30px;
}   

article ul ul {
	list-sytle: circle;
}
article a:link {
	text-decoration: underline;
}

img {
	padding: 10px;
}

table, tr, td {
	border: solid 1px;
	padding: 10px;
}
footer {
	clear: both;
	padding-top: 10px;
	border-top: 2px solid #ccc;
	text-align: center;
	color: #999; 
	overflow: auto;
}
	